<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial | DesignMediaX</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="boxicons-2.0.9/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
</head>
<body id="home">

    <div class="scroll-up-btn">
        <i class="bx bx-up-arrow-alt bx-sm"></i>
    </div>
    <div class="showcase">
        <!-- navbar top section -->

        <div class="navbar-top"></div>

        <!-- navbar bottom section -->
       <div class="navbar-bottom">
            <a href="/" class="brand-left">LoanAnalytics.io</a>
            <ul class="menu-right">
                <li><a href="/">Home</a></li>
                <li><a href="basic">Explore More</a></li>
                <li><a href="project">Quick Check</a></li>
                <li><a href="#"><i class="bx bx-search bx-sm" id="search-btn"></i></a></li>
            </ul>
            <div class="search-form">
                <input type="search" name="search-box" id="search-box" placeholder="search here...">
                <label for="search-box" class="bx bx-search bx-sm"></label>
            </div>
       </div>

       <!-- Showcase content Section -->
       <div class="showcase-content">
           <h1>We Deliver Digital <br> Strategy <span>& Analytics</span></h1>
           <p>Explore advanced loan approval prediction system that helps assess financial stability and creditworthiness, ensuring informed decisions for both applicants and financial institutions.</p>
           <a href="basic" class="btn btn-left">EXPLORE MORE</a>
           <a href="project" class="btn btn-right">GO ON PROJECT</a>
       </div>
    </div>

   